<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Kampanii</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
<h2 th:text="'Witaj ponownie, użytkowniku: ' + ${account.id}">Default</h2>

<div class="d-flex align-items-center mb-4">
    <div class="d-flex align-items-center gap-3 me-auto">
        <h4 th:text="'Twoje saldo: ' + ${account.emeraldBalance}">Default</h4>
    </div>

    <a href="/logout" class="btn btn-danger ms-3">+ Wyloguj</a>
</div>


<div class="d-flex align-items-center mb-4">
    <h1>Moje kampanie</h1>

    <form th:action="@{'/campaign/new'}" method="get" style="display:inline;">
        <input type="hidden" name="accountId" th:value="${account.id}" />
        <button type="submit" class="btn btn-primary"> Nowa kampania </button>
    </form>
</div>

<table class="table table-bordered table-striped mt-3">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Miasto</th>
        <th>Status</th>
        <th>Budżet</th>
        <th>Stawka za kliknięcie</th>
        <th>Promowane słowa</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="campaignUser : ${accountCampaigns}">
        <td th:text="${campaignUser.campaignName}"></td>
        <td th:text="${campaignUser.town}"></td>
        <td th:text="${campaignUser.status}"></td>
        <td th:text="${campaignUser.campaignFund} + ' zł'"></td>
        <td th:text="${campaignUser.bidAmount} + ' zł'"></td>
        <td th:text="${campaignUser.keywords}"></td>
        <td>
            <form th:action="@{'/campaign/change-status/' + ${campaignUser.id} + '?accountId=' + ${account.id}}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-primary">Zmień status</button>
            </form>

            <form th:action="@{'/campaign/edit/' + ${campaignUser.id}}" method="get" style="display:inline;">
                <input type="hidden" name="accountId" th:value="${account.id}" />
                <button type="submit" class="btn btn-primary">Edytuj kampanię</button>
            </form>

            </form>
            <form th:action="@{'/campaign/delete/' + ${campaignUser.id} + '?accountId=' + ${account.id}}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Usuń kampanie</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<h1>Inne kampanie</h1>
<table class="table table-bordered table-striped mt-3">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Miasto</th>
        <th>Status</th>
        <th>Budżet</th>
        <th>Stawka za kliknięcie</th>
        <th>Promowane słowa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="campaign : ${campaigns}">
        <td th:text="${campaign.campaignName}"></td>
        <td th:text="${campaign.town}"></td>
        <td th:text="${campaign.status}"></td>
        <td th:text="${campaign.campaignFund} + ' zł'"></td>
        <td th:text="${campaign.bidAmount} + ' zł'"></td>
        <td th:text="${campaign.keywords}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>